<!DOCTYPE html>
html(lang="ru-en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="css/font-awesome.min.css")
		link(rel="stylesheet", href="css/jquery.bxslider.css")
		link(rel="stylesheet", href="css/jquery.fancybox.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
		link(rel="stylesheet", href="css/style.css")
		title SVN Карточка товара
	body
		header
			.wrap
				nav.navbar
					.container-fluid
						.navbar-header
							a.navbar-brand(href="/")
								img(src="images/ui/logo.png", alt="SVN")
							button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bottom-nav" )
								span.sr-only Навигация
								span.icon-bar
									i.fa.fa-bars.fa-2x
						//- div.collapse.navbar-collapse#main-nav
						#main-nav
							.container.top-line
								.row
									.search-field.col-md-5.col-xs-12
										form(action="#")
											.row
												input(type="text" placeholder="Поиск..." class="col-sm-7")
												select#search-filter(name="search-filter" class="col-sm-4")
													option(value="1") Все категории
													option(value="2") Все категории
													option(value="3") Все категории
												input(type="submit" class="col-sm-1")
									.top-info.col-md-3.col-xs-6
										a(href="tel:380937897898") +38(093)789-78-98
										a(href="mailto:danya.89@mail.ru") danya.89@mail.ru
									.sys-links.col-md-4.col-xs-6
										.link-item.acc
											a(href="#") Мой аккаунт
										.link-item.cart
											a(href="#") Корзина
											.notification 4
										.link-item.compare
											a(href="#") Сравнение
											.notification 27
						div.collapse.navbar-collapse#bottom-nav
							.dropdown
								//-кликакебельное меню
								//- button(type="button" class="category-menu dropdown-toggle" id="category-list" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") Меню
								button(type="button" class="category-menu dropdown-toggle" id="category-list" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") Меню
								ul.dropdown-menu.hidden-menu(aria-labelledby="category-list")
									li
										a(href="#") Категория 1
									li
										a(href="#") Категория 2
									li
										a(href="#") Категория 3
									li
										a(href="#") Категория 4
									li
										a(href="#") Категория 5
									li
										a(href="#") Категория 6
									li
										a(href="#") Категория 7
									li
										a(href="#") Категория 8
									li
										a(href="#") Категория 9
									li
										a(href="#") Категория 10
									li
										a(href="#") Категория 11
									li
										a(href="#") Категория 12
									li
										a(href="#") Категория 13
									li
										a(href="#") Категория 14
									li
										a(href="#") Категория 15
									li
										a(href="#") Категория 16
									li
										a(href="#") Категория 17
									li
										a(href="#") Категория 18
							ul.main-menu
								li
									a(href="#") Главная
								li
									a(href="#") Товары
								li
									a(href="#") Услуги
								li
									a(href="#") О нас
								li
									a(href="#") Клиентам
								li
									a(href="#") Контакты
								li
									a(href="#") Скоро в продаже
							a(href="#" class="help-link") Помощь
		section.breadcrums
			.wrap
				.links-container
					a(href="#") Главная
					a(href="#") Камеры видеонаблюения
					span Ausdom S2 plus luxusní 720p HD P2P IP kamera
		section.card
			.wrap
				.card-photos
					ul.bxslider.card-big-photo
						li.bx-item
							img(src="images/demo/big-slider-photo.png", alt="")
							.sale-label -70%
							.new-label Новинки
							.delivery-label
								img(src="images/ui/free-delivery.png", alt="")
							a.zoom-photo.fancybox(href='images/demo/big-slider-photo.png' rel="group1")
						li.bx-item
							img(src="images/demo/big-slider-photo.png", alt="")
							.sale-label -70%
							.new-label Новинки
							.delivery-label
								img(src="images/ui/free-delivery.png", alt="")
							a.zoom-photo.fancybox(href='images/demo/big-slider-photo.png' rel="group1")
						li.bx-item
							img(src="images/demo/big-slider-photo.png", alt="")
							.sale-label -70%
							.new-label Новинки
							.delivery-label
								img(src="images/ui/free-delivery.png", alt="")
							a.zoom-photo.fancybox(href='images/demo/big-slider-photo.png' rel="group1")
					.small-photos
				.card-data
					.product-name Ausdom S2 plus HD P2P IP kamera
					.product-rate
						.stars
							.star.active
							.star.active
							.star
							.star
							.star
						.response-count (0 отзывы)
						.add-response
							a(href="#") Добавьте ваш отзыв
					.price-field
						.price 1350грн
						.old-price 1900грн
					.short-info
						div Краткая информация
						p.
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quod necessitatibus repellendus dolores libero quibusdam, doloribus, quas vel quasi tempora!
					.count
						.category
							div Категория:
							div Камеры видеонаблюдения
						.counter
							div Количество:
							.counter-wrap
								.less -
								input(type="text" placeholder='1' value="1")
								.more +
					.to-cart
						.product-line-bottom
							.buy
								a.green(href="#") Купить
							.compare-btn
								a(href="#")
									img(src="images/ui/compare-icon.png", alt="")
					.share
						div Поделиться:
						.share-wrap
							a(href="#")
							a(href="#")
							a(href="#")
							a(href="#")
							a(href="#")
		section.card-tabs
			.wrap
				ul.nav.nav-tabs(role="tablist")
					li(role="presentation")
						a(href="#description" aria-controls="description" role="tab" data-toggle="tab") Описание
					li(role="presentation")
						a(href="#features" aria-controls="features" role="tab" data-toggle="tab") Характеристики
					li(role="presentation" class="active")
						a(href="#response" aria-controls="response" role="tab" data-toggle="tab") Отзывы <span>(0)</span>
					li(role="presentation")
						a(href="#delivery" aria-controls="delivery" role="tab" data-toggle="tab") Доставка и оплата
				.tab-content
					div(role="tabpanel" class="tab-pane fade" id="description") Вкладка 1
					div(role="tabpanel" class="tab-pane fade" id="features") Вкладка 2
					div(role="tabpanel" class="tab-pane fade in active" id="response")
						.responses
							.response Здесь нет мнений об этом товаре.
						.new-response Добавить отзыв
							.your-rate
								div Ваш рейтинг
								.rate-this
									div Плохо
									.stars
										.star.active
										.star.active
										.star.active
										.star.active
										.star.active
									div Хорошо
							.response-container
								.title Ваш отзыв:
								form(action="#")
									.form-field
										textarea#response(name="response")
									.form-field.row
										.name-input.col-md-5.col-xs-12
											input(type="text" placeholder='Имя*' required)
										.mail-input.col-md-6.col-xs-12
											input(type="text" placeholder='Эл. адрес*' required)
										.send-input.col-md-1.col-xs-12
											input(type="submit" value='Отправить')
					div(role="tabpanel" class="tab-pane" id="delivery") Вкладка 4
		section.similar-items.carousel.slide#similar-carousel(data-ride="carousel")
			.wrap
				.panel		
					.title Покупатели, которые просматривали этот товар, также интересуются
					.lists-nav
							a(href="#similar-carousel" role="button" data-slide="prev")
								.left-arr
							a(href="#similar-carousel" role="button" data-slide="next")
								.right-arr
				.similar-wrap.carousel-inner(role="listbox")
					.row.item.active
						.item.col-md-3.col-sm-4
							.item-wrap
								.item-photo
									img(src="images/demo/white-cam.png", alt="Уличная Turbo HD камера  Hikvision DS-2CE16C2T-IT5,  1.3 Мп")
									.sale-label -70%
									.delivery-label
										img(src="images/ui/free-delivery.png", alt="Бесплатная доставка")
								.item-description
									.item-name
										a(href="#").
											Уличная Turbo HD камера Hikvision DS-2CE16C2T-IT5, 1.3 Мп
									.item-status
										div В наличии
										div Оптом и в розницу
									.buy-field
										.buy-btn
											a(href="#") Купить
										.buy-price 350грн
									.call-me
										a(href="#") Перезвоните мне
						.item.col-md-3.col-sm-4
							.item-wrap
								.item-photo
									img(src="images/demo/white-cam.png", alt="Уличная Turbo HD камера  Hikvision DS-2CE16C2T-IT5,  1.3 Мп")
									.sale-label -70%
									.delivery-label
										img(src="images/ui/free-delivery.png", alt="Бесплатная доставка")
								.item-description
									.item-name
										a(href="#").
											Уличная Turbo HD камера Hikvision DS-2CE16C2T-IT5, 1.3 Мп
									.item-status
										div В наличии
										div Оптом и в розницу
									.buy-field
										.buy-btn
											a(href="#") Купить
										.buy-price 350грн
									.call-me
										a(href="#") Перезвоните мне
						.item.col-md-3.col-sm-4
							.item-wrap
								.item-photo
									img(src="images/demo/white-cam.png", alt="Уличная Turbo HD камера  Hikvision DS-2CE16C2T-IT5,  1.3 Мп")
									.sale-label -70%
									.delivery-label
										img(src="images/ui/free-delivery.png", alt="Бесплатная доставка")
								.item-description
									.item-name
										a(href="#").
											Уличная Turbo HD камера Hikvision DS-2CE16C2T-IT5, 1.3 Мп
									.item-status
										div В наличии
										div Оптом и в розницу
									.buy-field
										.buy-btn
											a(href="#") Купить
										.buy-price 350грн
									.call-me
										a(href="#") Перезвоните мне
						.item.col-md-3.col-sm-4
							.item-wrap
								.item-photo
									img(src="images/demo/white-cam.png", alt="Уличная Turbo HD камера  Hikvision DS-2CE16C2T-IT5,  1.3 Мп")
									.sale-label -70%
									.delivery-label
										img(src="images/ui/free-delivery.png", alt="Бесплатная доставка")
								.item-description
									.item-name
										a(href="#").
											Уличная Turbo HD камера Hikvision DS-2CE16C2T-IT5, 1.3 Мп
									.item-status
										div В наличии
										div Оптом и в розницу
									.buy-field
										.buy-btn
											a(href="#") Купить
										.buy-price 350грн
									.call-me
										a(href="#") Перезвоните мне
					.row.item
						.item.col-md-3.col-sm-4
							.item-wrap
								.item-photo
									img(src="images/demo/white-cam.png", alt="Уличная Turbo HD камера  Hikvision DS-2CE16C2T-IT5,  1.3 Мп")
									.sale-label -70%
									.delivery-label
										img(src="images/ui/free-delivery.png", alt="Бесплатная доставка")
								.item-description
									.item-name
										a(href="#").
											Уличная Turbo HD камера Hikvision DS-2CE16C2T-IT5, 1.3 Мп
									.item-status
										div В наличии
										div Оптом и в розницу
									.buy-field
										.buy-btn
											a(href="#") Купить
										.buy-price 350грн
									.call-me
										a(href="#") Перезвоните мне
						.item.col-md-3.col-sm-4
							.item-wrap
								.item-photo
									img(src="images/demo/white-cam.png", alt="Уличная Turbo HD камера  Hikvision DS-2CE16C2T-IT5,  1.3 Мп")
									.sale-label -70%
									.delivery-label
										img(src="images/ui/free-delivery.png", alt="Бесплатная доставка")
								.item-description
									.item-name
										a(href="#").
											Уличная Turbo HD камера Hikvision DS-2CE16C2T-IT5, 1.3 Мп
									.item-status
										div В наличии
										div Оптом и в розницу
									.buy-field
										.buy-btn
											a(href="#") Купить
										.buy-price 350грн
									.call-me
										a(href="#") Перезвоните мне
						.item.col-md-3.col-sm-4
							.item-wrap
								.item-photo
									img(src="images/demo/white-cam.png", alt="Уличная Turbo HD камера  Hikvision DS-2CE16C2T-IT5,  1.3 Мп")
									.sale-label -70%
									.delivery-label
										img(src="images/ui/free-delivery.png", alt="Бесплатная доставка")
								.item-description
									.item-name
										a(href="#").
											Уличная Turbo HD камера Hikvision DS-2CE16C2T-IT5, 1.3 Мп
									.item-status
										div В наличии
										div Оптом и в розницу
									.buy-field
										.buy-btn
											a(href="#") Купить
										.buy-price 350грн
									.call-me
										a(href="#") Перезвоните мне
						.item.col-md-3.col-sm-4
							.item-wrap
								.item-photo
									img(src="images/demo/white-cam.png", alt="Уличная Turbo HD камера  Hikvision DS-2CE16C2T-IT5,  1.3 Мп")
									.sale-label -70%
									.delivery-label
										img(src="images/ui/free-delivery.png", alt="Бесплатная доставка")
								.item-description
									.item-name
										a(href="#").
											Уличная Turbo HD камера Hikvision DS-2CE16C2T-IT5, 1.3 Мп
									.item-status
										div В наличии
										div Оптом и в розницу
									.buy-field
										.buy-btn
											a(href="#") Купить
										.buy-price 350грн
									.call-me
										a(href="#") Перезвоните мне
		.subscribe
			.subscribe-wrap
				.subscribe-title Рассылка
				.subscribe-form
					form(action="#")
						input(type="text" placeholder="Введите адрес" required)
						input(type="submit" value="Отправить")

		footer
			.wrap.row
				.footer-column.col-sm-3
					.column-title Свяжитесь с нами
					.adress Офис:
						p.
							795 Folsom Ave, Suite 600<br> San Francisco, CA 94107
					.contacts
						p
							b Телефон:
							span (91) 8547 632521
						p
							b Fax:
							span (91) 11 4752 1433
						p
							b Email:
							span info@pan
					.copyr ©Copyright 2016 SVN | All Rights Reserved
				.footer-column.col-sm-3
					.column-title Мой аккаунт
					ul
						li
							a(href="#") Авторизоваться
						li
							a(href="#") Моя тележка
						li
							a(href="#") Добавить в корзину
						li
							a(href="#") Проверять, выписываться
				.footer-column.col-sm-3
					.column-title Информация
					ul
						li
							a(href="#") Специальные предложения
						li
							a(href="#") Новые продукты
						li
							a(href="#") Бестселлеры
						li
							a(href="#") Наши магазины
				.footer-column.col-sm-3
					.column-title Заказы
					ul
						li
							a(href="#") Варианты оплаты
						li
							a(href="#") Доставка и доставки
						li
							a(href="#") Возвращает
						li
							a(href="#") Перевозка
					.payments
						img(src="images/ui/payments.png", alt="")
					.social
						div Оставайся на связи
						.icons-wrap
							a(href="#")
							a(href="#")
							a(href="#")
							a(href="#")






		script(src="js/jquery-1.9.1.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
		script(src="js/nouislider.js")
		script(src="js/jquery.bxslider.js")
		script(src="js/jquery.fancybox.js")		
		script(src="js/main.js")